# Pasarela de Pagos (Mercado Pago)
# Obtén tus credenciales desde developers.mercadopago.com
MP_ACCESS_TOKEN=tu-access-token-privado-de-pruebas-o-produccion
VITE_MP_PUBLIC_KEY=tu-public-key-de-pruebas-o-produccion

# Configuración de Firebase (Analytics y otros servicios)
VITE_FIREBASE_API_KEY=tu-api-key-de-firebase
VITE_FIREBASE_AUTH_DOMAIN=tu-auth-domain-de-firebase
VITE_FIREBASE_PROJECT_ID=tu-project-id-de-firebase
VITE_FIREBASE_STORAGE_BUCKET=tu-storage-bucket-de-firebase
VITE_FIREBASE_MESSAGING_SENDER_ID=tu-messaging-sender-id-de-firebase
VITE_FIREBASE_APP_ID=tu-app-id-de-firebase
VITE_FIREBASE_MEASUREMENT_ID=tu-measurement-id-de-firebase

